.Cont {
    background: #F5F5FF;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.Cont2 {
    display: flex;
    height: 363.83px;
    padding: 120px 112.5px 240px 112.5px;
    align-items: flex-start;
    gap: 40px;
}