.parte1{
    height: 500px;
    margin: 3em 0 2em 0;
}


.parte2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
}

.parte2 p {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto Condensed;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.46px;
    /* 123.5% */
    text-transform: uppercase;
}

.parte2 h3 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.5px;
    margin-top: 30px;
    /* 175% */
}

.parte2 img {
    margin-top: 30px;
}